@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: theme('colors.cream-100'); /* Using Tailwind's color utility */
}

/* Optional: to ensure body has no default margin */
body {
  margin: 0;
}
